.menu {
  display: flex;
  @include w-from($screen-lg) { 
    flex-direction: row; 
  }

  &-block {
    display: flex;
    flex-direction: column;

    &__link {
      margin-bottom: 8px;
      margin-left: 9px;
      font-size: $text;
    }
    &__mainlink {
      margin-bottom: 12px;
      font-weight: bold;
      font-size: $middle-text;
    }
  }
}