.slider-item {
  margin: 33px $mob-side-border 24px;
  @include w-from ($screen-lg) {
    grid-column: 2;
    grid-row: 1;
    margin: 0 auto;
  }

  &-main {
    margin-bottom: 8px;
    @include w-from ($screen-lg) {
      width: 656px;
      margin-bottom: 24px;
    }

    &__img { width: 100%; }
  }

  &-nav {
    @extend %linear-gradient;
    @include w-from ($screen-lg) {
      width: 656px;
      height: 140px;
      mask-image: none;
    }

    & .slick-slide {
      cursor: pointer;
      @include w-from ($screen-lg) { width: 140px !important; }
      &.slick-current { opacity: 0.3; }
    }

    &__img { width: 100%; }

    & .slick-track {
      gap: 8px;
      @include w-from ($screen-lg) { gap: 16px; }
    }
  }
}

.item-size {
  @extend %border-box;
  position: relative;
  width: 100%;
  margin: auto;
  padding: 16px 24px 32px;
  font: $text;
  color: #000000;
  background-color: #ffffff;
  box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.25);
  @include w-from ($screen-lg) { width: 688px; }

  ::-webkit-scrollbar {
    width: 0px;
    background: transparent;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  &-container {
    overflow-x: auto;
    @include w-to($screen-lg) {
      mask-image: linear-gradient(90deg,
        transparent 0, rgba(0, 0, 0, .25) 0px,
        #000 23px,
        #000 calc(100% - 23px),
        rgba(0, 0, 0, .25) calc(100% - 9px),
        transparent);
    }
  }

  &__title {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 24px;
  }

  &-table {
    width: 640px;
    text-align: center;
    font-size: $text;
    border-collapse: collapse;
    border: 1px solid $input-border;

    &__th {
      width: 72px;
      height: 32px;
    }

    &__th,
    &__th { border: 1px solid $input-border; }
  }

  &__close {
    position: absolute;
    right: 0;
    top: 0;
    margin: 11px;
    user-select: none;
    cursor: pointer;
    fill: $input-border;
  }
}