@import 'one-item.scss';

.might-like {
  overflow: hidden;
  margin: 0 $mob-side-border;
  @include w-from ($screen-lg) {
    width: $container;
    margin-left: $lg-side-border;
  }

  &__title {
    width: 288px;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 24px;
    @include w-from ($screen-lg) {
    width: auto;
    }
  }

  &-container {
    margin: 0 24px;
    @include w-from ($screen-lg) {
      margin: 0 40px;
    }
  }
  & .slick-arrow {
    width: 28.24px;
    height: 24px;
    fill: #000000;
  }

}

.one-item {
  &-slide {
    width: 240px !important;
  }
}