@import 'one-item.scss';

.might-like {
  margin: 0 $mob-side-border;
  @include w-from ($screen-lg) {
    width: $container;
    margin-left: $lg-side-border;
  }

  &__title {
    width: 288px;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 24px;
    @include w-from ($screen-lg) {
    width: auto;
    }
  }

  &-container {
    margin: 0 24px;
    @include w-from ($screen-lg) {
      margin: 0 40px;
    }
  }

  .slick-arrow {
    top: 160px;
    &.slick-prev {
      left: -36px;
      margin-left: 4px;
      @include w-from($screen-lg) { left: -48px;
      margin: auto;}
    }
    &.slick-next {
      right: -36px;
      @include w-from($screen-lg) { right: -48px; }
    }
    &.slick-prev:before,
    &.slick-next:before {
      font-size: 24px;
      color: #393939;
    }

    &:hover.slick-prev:before,
    &:hover.slick-next:before {
      color: #000000;
    }
    
  }
}

.one-item {
  &-slide {
    @include w-from($screen-lg) {
      width: 240px !important;
    }
  }
}