@import 'one-item.scss';

.might-like {
  width: 100vw;
  margin: 0 auto;
  @include w-from ($screen-lg) {
    width: $container;
  }
  &__title {

  }

  &__slider {
    &__slide {
      &__img {

      }
    }
  }
  // background: #000;
}