- var hrefname = 'catalog.html'
- var mainclass = 'menu-block'
- var linkclass = 'link'
- var mod = 'main'

.menu-block
  +modlink('Для мужчин')
  +link('Верхняя одежда')
  +link('Рубашки и поло')
  +link('Трикотаж')
  +link('Брюки и джинсы')
  +link('Бельё и носки')

.menu-block
  +modlink('Для женщин')
  +link('Верхняя одежда')
  +link('Рубашки и поло')
  +link('Трикотаж')
  +link('Брюки и джинсы')
  +link('Бельё и носки')

.menu-block
  +modlink('Обувь')
  +link('Кроссовки и кеды')
  +link('Ботинки')

.menu-block
  +modlink( 'Аксессуары')
  +link('Сумки и рюкзаки')
  +link('Часы')
  +link('Бижутерия')
  +link('Средства для ухода')

.menu-block
  +modlink('Скидки')
  +link('Летняя распродажа')
  +link('Коллекция 2018')