mixin link(name)
  a(class="menu-block__link" href='catalog.html')=name

mixin main-link(name)
  a(class="menu-block__mainlink" href='catalog.html')=name  

.menu-block
  +main-link('Для мужчин')
  +link('Верхняя одежда')
  +link('Рубашки и поло')
  +link('Трикотаж')
  +link('Брюки и джинсы')
  +link('Бельё и носки')

.menu-block
  +main-link('Для женщин')
  +link('Верхняя одежда')
  +link('Рубашки и поло')
  +link('Трикотаж')
  +link('Брюки и джинсы')
  +link('Бельё и носки')

.menu-block
  +main-link('Обувь')
  +link('Кроссовки и кеды')
  +link('Ботинки')

.menu-block
  +main-link( 'Аксессуары')
  +link('Сумки и рюкзаки')
  +link('Часы')
  +link('Бижутерия')
  +link('Средства для ухода')

.menu-block
  +main-link('Скидки')
  +link('Летняя распродажа')
  +link('Коллекция 2018')