<svg class='mfp-close' width="17" height="17" viewBox="0 0 37 37" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M33.9411 0L36.7696 2.82843L2.82843 36.7696L0 33.9411L33.9411 0Z" fill="black"/>
<path d="M1.23635e-07 2.82843L2.82843 0L36.7696 33.9411L33.9411 36.7696L1.23635e-07 2.82843Z" fill="black"/>
</svg>
h2.footer-rules__title Правила обработки персональных данных
p.footer-rules__text Предоставляя свои персональные данные Пользователь даёт согласие на обработку, 
  | хранение и использование своих персональных данных на основании ФЗ № 152-ФЗ 
  | «О персональных данных» от 27.07.2006 г. в следующих целях:
p.footer-rules__text
  span.footer-rules__text-sub Осуществление клиентской поддержки
  span.footer-rules__text-sub Получения Пользователем информации о маркетинговых событиях
  span.footer-rules__text-sub Проведения аудита и прочих внутренних исследований с целью повышения качества 
    | предоставляемых услуг.
p.footer-rules__text Под персональными данными подразумевается любая информация личного характера, 
  | позволяющая установить личность Пользователя/Покупателя такая как:
  span.footer-rules__text-sub Фамилия, Имя, Отчество
p.footer-rules__text Персональные данные Пользователей хранятся исключительно на электронных носителях и
  | обрабатываются с использованием автоматизированных систем, за исключением случаев, 
  | когда неавтоматизированная обработка персональных данных необходима в связи с исполнением требований законодательства.
p.footer-rules__text Компания обязуется не передавать полученные персональные данные третьим лицам, за исключением следующих случаев:
p.footer-rules__text По запросам уполномоченных органов государственной власти РФ только по основаниям и в порядке, установленным законодательством РФ
p.footer-rules__text Компания оставляет за собой право вносить изменения в одностороннем порядке в настоящие правила, при условии, что изменения не 
  | противоречат действующему законодательству РФ. Изменения условий настоящих правил вступают в силу после их публикации на Сайте. данных