- var classtext = 'slider-home-text'
.slider-home
  .slider-home__slide
    +picture('Reebok Aztrek Double', 'header-1.jpg', 'm-header-1.jpg')
    +imagetext('Reebok Aztrek Double')
  .slider-home__slide
    +picture('Nike ACG', 'header-2.jpg', 'm-header-2.jpg')
    +imagetext('Nike ACG: навстречу новым открытиям')
  .slider-home__slide
    +picture('Распродажа', 'header-3.jpg', 'm-header-3.jpg')
    +imagetext('Распродажа до −15%')