@import 'parts/common/main.scss', 'parts/common/footer.scss',
'parts/might-like.scss', 'parts/lib/slick-carousel.scss',
'parts/lib/magnific-popup.scss';
$p-margin: 20px;


header {
  @extend %nav-white;
  margin: 0;
  margin-bottom: 33px;

  @include w-from($screen-lg) {
    margin-bottom: 41px;
  }
}

.main {
  display: flex;
  flex-direction: column;
  width: auto;
  margin-top: 24px;
  @include w-from($screen-lg) {
    margin-top: 5px;
    flex-direction: row;
    justify-content: space-between;
  }
  &__title {
    margin-left: 17px;
    @include w-from($screen-lg) {
      margin: 0;
    }
  }
  &-about {
    @extend %border-box;
    font-size: $middle-text;
    margin: 0 $mob-side-border;
    @include w-from($screen-lg) {
      width: 464px;
      height: 347px;
      margin: 27px 0 0 ;
    }
    &__p {
      margin-bottom: $p-margin;
    }
  }

  &-contact {
    @extend %border-box;
    background-color: $bgtextcolor;
    padding: 16px 10px 24px 10px;
    @include w-from($screen-lg) {
      width: 586px;
      height: 354px;
      padding: 27px 60px 32px 26px;
    }
    &__span {
      display: block;
      &.address {
        margin-bottom: 16px;
      }

      &.mail {
        margin-bottom: 11px;
        color: $text-color;
        &:hover {
          color: $white-link;
        }
      }
      &.phone {
        font-weight: bold;
        &-text {
          font-size: $small-text;
          margin-bottom: 30px;
        }
      }
    }
    &-block {
      margin-bottom: $p-margin;
    }
  }
}