@import 'parts/common/main.scss', 'parts/common/footer.scss', 
'parts/catalog-nav.scss', 'parts/one-item.scss';

$page-size: 15px;
$page-chosen: 24px;

header { @extend %nav-dark; }

.main {
  max-width: 100vw;
  color: $text-color;
  background-color: $maincolor;
  border-top: 160px solid $bgcolor;

  .container {
    margin-left: $mob-side-border;
    margin-top: -160px;

    @include w-from($screen-lg) {
      margin: 0 auto;
      margin-top: -160px;
    }
  }

  &__title {
    margin: 16px 0 24px;
    color: $maincolor;
    @include w-from($screen-lg) { margin: 24px 0 32px; }
  }

  &-catalog {
    display: flex;
    flex-wrap: wrap;
    flex-flow: row wrap;
    justify-content: space-between;
  }
  
  &-nav {
    margin: 40px 0;
    @include w-from($screen-lg) { margin: 64px 0; }

    &__text {
      font-size: $small-text;
      color: $footer-text-color; 
    }
    &-pages {
      &__p {
        margin-right: 5px;
        font-size: $page-size;
        text-decoration: none;

        &, &:visited { color: $footer-text-color; }
        &:hover,:active { color: $white-link; }
        &:first-child {
          font-size: $page-chosen;
          font-weight: bold;
          color: $text-color;
        }
      }
    }
  }
}