@import 'parts/common/main.scss', 'parts/common/footer.scss',
'parts/might-like.scss', 'parts/lib/slick-carousel.scss', 
'parts/lib/magnific-popup.scss';

header { 
  @extend %nav-white; 
  margin: 0;
  margin-bottom: 33px;
  @include w-from($screen-lg) {
    margin-bottom: 41px;
  }
}

.container {
  @include w-to($screen-lg) {
    margin: 0;
  }
}

.main {
  @include w-to($screen-lg) {
    margin: 0 $mob-side-border;
  }
  &-text {
    margin: 24px 0 56px;
    @include w-from($screen-lg) {
      margin: 32px 0 64px;
    }
    &-p {
      display: block;
      font-size: $middle-text;
      font-weight: normal;
      &__link {
        color: $text-color;
        &:hover {
          color: $white-link;
        }
      }
    }

  }
}