@import 'parts/common/main.scss', 'parts/common/footer.scss', 
'parts/might-like.scss','parts/item-interactive.scss',
'parts/lib/slick-carousel.scss', 'parts/lib/magnific-popup.scss';

header { @extend %nav-white; }

.main {
    @include w-from ($screen-lg) {
      display: grid;
      grid-template-columns: 450px 656px;
      gap: 54px;
      margin-top: 41px;
      margin: 41px auto 64px;
    }
}

.might-like { 
  grid-column: 1/2;;
  grid-row: 2;
}

.item {
  display: flex;
  flex-direction: column;
  max-width: 100vw;
  overflow: hidden;
  @include w-from ($screen-lg) { 
    grid-column: 1;
    grid-row: 1/2;
  }

  &-title {
    margin: 0 $mob-side-border;
    @include w-from ($screen-lg) { margin: 0 $lg-side-border; }
    &__name {
      margin-bottom: 8px;
      font-size: $big-size;
      font-weight: bold;
    }
    &__type { font-size: $small-text; }
  }

  &-custom {
    margin: 16px 0 24px;
    padding: 24px 16px 32px;
    background-color: $bgtextcolor;
    @include w-from ($screen-lg) { 
      margin: 32px 0 40px; 
      padding-left: 24px;
    }
    
    &-block {
      margin-bottom: 24px;
      display: block;

      &__text{
        display: block;
        font: $middle-text;
        @include w-from ($screen-lg) { 
          display: inline-block;
          width: 80px;
          margin-right: 20px;
        }
      }

      &-radio {
        margin-top: 8px;
        display: inline-block;
        margin-right: 10px;
        color: $input-active;
        @include w-from ($screen-lg) {
          margin-top: 0;
        }

        & input[type=radio]:checked + &__label {
          background: $input-active;
          color: #ffffff;
        }

        &__input { display: none; }
        &__label {
          display: inline-block;
          min-width: 32px;
          padding: 0px 8px;
          text-align: center;
          font: $text-size;
          line-height: 34px;
          background: $input;
          border: 1px solid $input-border;
          border-radius: 8px;
          user-select: none;
          cursor: pointer;
          &:hover { border-color: $input-active; }
        }
      }
    }
    &__table {
      &, link { color: $text-color;}
      &:hover { color: $white-link; }
    }
    &__button {
      display: block;
      margin-top: 40px;
      padding: 10px 26px;
      @extend %button-style;
    }
  } 

  &-about {
    margin: 0 $mob-side-border 56px;
    display: grid;
    gap: 24px;
    @include w-from ($screen-lg) { 
      gap: 32px;
      max-width: 380px;
      margin-bottom: 64px;
    }

    &__parameter { 
      font-size: $small-text;
      color: $lightest-color;
    }

    &__point {
      list-style-type: none;
      &:before { content: '– '}
    }

    &__content { font-size: $middle-text; }

    .paragraph {
      margin-bottom: 24px;
    }

    &-material { grid-column: 1; }
    &-country { grid-column: 2; }
    &-text { grid-column: 1/3; }
    &-details { grid-column: 1/3; }
  }
}