@import 'mixins.scss', 'vars.scss', 'common/fonts.scss', 'common/header.scss';

* {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  margin: 0 auto;
  font-family: PT Sans; 
  background-color: $maincolor;
}

.container {
  margin: 0 auto;
  @include w-from($screen-lg) {
    width: 1095px;
    margin: 0 auto;
  }
}