<!DOCTYPE html>
html(lang="en")
  head
    include parts/common/head
    link(rel="stylesheet" href="styles/catalog.css")
  body
    header
      include parts/common/header
    main.main
      .container
        h1.main__title Обувь
        .main-catalog
          - var classname = 'one-item'
          - var hrefname = 'catalog.html'
          +item('img.jpg')
          +item('img-1.jpg')
          +item('img-2.jpg')
          +item('img-3.jpg')
          +item('img-4.jpg')
          +item('img-5.jpg')
          +item('img-6.jpg')
          +item('img-7.jpg')
          +item('img-8.jpg')
          +item('img-9.jpg')
          +item('img-10.jpg')
          +item('img-11.jpg')
          +item('img-12.jpg')
          +item('img-13.jpg')
          +item('img-14.jpg')
          +item('img-15.jpg')
        .main-nav
          span.main-nav__text Страницы
            .main-nav-pages
              - var mainclass = 'main-nav-pages'
              - var linkclass = 'p'
              +link(1)
              +link(2)
              +link(3)
              +link(4)
              +link(5)
              +link(6)
              +link(7)
              +link(8)
              +link(9)
              +link(10)
              +link(11)
              +link(12)
                
    include parts/common/footer
    script(src="scripts/catalog.js")