<!DOCTYPE html>
html(lang="ru")
  head
    include common/head
    link(rel="stylesheet" href="styles/index.css")
  body
    header.white
      include common/header
    main
      include homepage/slider
      include homepage/main 
    include common/footer
    script(src="scripts/index.js")