<!DOCTYPE html>
html(lang="ru")
  head
    title Fetch
    include parts/common/head
    link(rel="stylesheet" href="styles/index.css")
  body
    header.white
      include parts/common/header
    main
      include parts/homepage/slider
      include parts/homepage/main 
    include parts/common/footer
    script(src="scripts/index.js")