<!DOCTYPE html>
html(lang="en")
  head
    include common/head
    link(rel="stylesheet" href="styles/index.css")
  body
    include homepage/header
    include homepage/main 
    include common/footer