<!DOCTYPE html>
html(lang="ru")
  head
    include parts/common/head
    link(rel="stylesheet" href="styles/item.css")
  body
    header
      include parts/common/header
    main.main.container
      include parts/item/slider
      .item
        include parts/item/main
      include parts/might-like
    include parts/common/footer 
    .item-size.mfp-hide#size
      include parts/item/size
    script(src="scripts/item.js")