<!DOCTYPE html>
html(lang="ru")
  head
    include common/head
    link(rel="stylesheet" href="styles/item.css")
  body
    include common/header
    main.container
      .main
        include item/slider
        include item/main
    include common/footer 