<!DOCTYPE html>
html(lang="ru")
  head
    include common/head
    link(rel="stylesheet" href="styles/item.css")
  body
    header
      include common/header
    main.main.container
      include item/slider
      .item
        include item/main
      include common/might-like
    include common/footer 
    .item-size.mfp-hide#size
      include item/size
    script(src="scripts/item.js")