<!DOCTYPE html>
html(lang="ru")
  head
    include common/head
    link(rel="stylesheet" href="styles/item.css")
  body
    header
      include common/header
    main.main.container
        include item/slider
        include item/main
    include common/footer 