<!DOCTYPE html>
html(lang="ru")
  head
    include parts/common/head
    link(rel="stylesheet" href="styles/index.css")
  body
    header
      include parts/common/header
    main
    include parts/common/footer
    script(src="scripts/feedback.js")