.might-like
  h1.might-like__title Вам может быть интересно
  .might-like-container
    .might-like-slider
      - var classname = 'one-item'
      +item('img-3.jpg')
      +item('img-9.jpg')
      +item('img-16.jpg')
      +item('img-1.jpg')
      +item('img-2.jpg')
      +item('img-4.jpg')
      +item('img-5.jpg')
      +item('img-6.jpg')