@font-face {
  font-family: 'PT Sans';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: local('PT Sans'),  local('PTSans-Regular'),
  url("../assets/fonts/ptsans.woff2") format("woff2"),
  url("../assets/fonts/ptsans.woff") format("woff");
}

@font-face {
  font-family: 'Icons';
  src: url('../assets/fonts/fontello.woff2?81856965') format('woff2'),
    url('../assets/fonts/fontello.woff?81856965') format('woff');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "Icons";
  font-style: normal;
  font-weight: normal;
  display: inline-block;
}

%icon-cart {
  &:before {
    font-family: "Icons";
    content: '\e802';
  }
}

%icon-cross {
  &:before {
    font-family: "Icons";
    content: '\e803'
  }
}

%icon-arr-left {
  &:before {
    font-family: "Icons";
    content: '\e801';
  }
}
%icon-arr-right {
  &:before {
    font-family: "Icons";
    content: '\e800';
  }
}





