$screen-sm: 320px;
$screen-lg: 1200px;

$container: 1136px;

$text-color: #000000;
$maincolor: #ffffff;
$bgcolor: #000000;
$bgtextcolor: #F2F2F2;
$footercolor: #ffffff;
$footer-text-color: #666666;
$lightest-color: #AFAFAF;


$text-size: 16px;
$middle-text: 18px;
$small-text: 13px;
$big-size: 32px;
$nav-main-font-size: 24px;

$header-slide-text: 64px;
$header-slide-text-mob: 48px;

$mob-side-border: 16px;
$lg-side-border: 24px;
%border-box { box-sizing: border-box; }

$input: #FBFBFB;
$input-active: #666666;
$input-border: #DDDDDD;

%button-style {
  font-size: $text-size;
  font-weight: bold;
  background: linear-gradient(180deg, #FFC908 0%, #FFBA08 100%);
  box-shadow: 0px 0px 15px rgba(255, 146, 17, 0.5);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  &:hover, &:active, &:focus {
    outline: none;
    background: linear-gradient(180deg, #F5BF00 0%, #F0AD00 100%);
  }
}

%linear-gradient {
  mask-image: linear-gradient(90deg,
    transparent 0, rgba(0, 0, 0, .25) 0px,
    #000 23px,
    #000 calc(100% - 23px),
    rgba(0, 0, 0, .25) calc(100% - 9px),
    transparent);
}

.mod-only-lg {
  @include w-to($screen-lg) {display: none !important;}
}

//white-theme
$white-bg: #ffffff;
$white-text: #000000; 
$white-link: #4541FE;
//dark-theme
$dark-bg: #000000;
$dark-text: #ffffff;
$dark-link: #9f9f9f;

%dark-link {
  & { color: $dark-text;
    &:hover,
    &:active {
      color: $dark-link;
      border-color: $dark-link;
    }}
}

%white-link {
   & { 
     color: $white-text;
     &:hover,
     &:active {
       color: $white-link;
       border-color: $white-link;
     }
  }
}

//color-theme
%nav-dark {
  background-color: $dark-bg;

  .nav-links__link,
  .nav__main,
  .nav-checkout__link { @extend %dark-link; }

  svg { fill: $dark-text; }
  a:hover svg { fill: $dark-link; }
}

%nav-white {
  background-color: $white-bg;

  .nav-links__link,
  .nav__main,
  .nav-checkout__link { @extend %white-link; }

  svg { fill: $white-text; }

  a:hover svg { fill: $white-link; }
}