mixin image(img, text) 
  .slider-home__slide
    img(src="assets/images/"+img)
    p(class="slider-home-text") 
      span(class="slider-home-text__span")=text

.slider-home
    +image('header-1.jpg','Reebok Aztrek Double')
    //- 2
    +image('header-2.jpg','Nike ACG: навстречу новым открытиям')
    //- 0
    +image('header-3.jpg','Распродажа до −15%')
    //- 1