.slider-home
  .slider-home__slide
    img(src="assets/images/header-1.jpg") 
    //- 2
  .slider-home__slide
    img(src="assets/images/header-2.jpg")
    //- 0
  .slider-home__slide
    img(src="assets/images/header-3.jpg")
    //- 1